<body>
<p id="notice"></p>
<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>リーダブルコード</td>
      <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
      <td>
        <a class="show_220370"href="/books/220370">Show</a>
      </td>
      <td>
        <a class="edit_220370"href="/books/220370/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_220370" rel="nofollow"
        data-method="delete"href="/books/220370">Destroy</a>
      </td>
    </tr>
    
    <tr>
      <td>トラブル知らずのシステム設計</td>
      <td>システム設計の要点を図解で説明してくれます</td>
      <td>
        <a class="show_220371"href="/books/220371">Show</a>
      </td>
      <td>
        <a class="edit_220371"href="/books/220371/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_220371" rel="nofollow"
        data-method="delete"href="/books/220371">Destroy</a>
      </td>
    </tr>
    
        <tr>
      <td>たのしいRuby</td>
      <td>Rubyの入門におすすめです</td>
      <td>
        <a class="show_220372"href="/books/220372">Show</a>
      </td>
      <td>
        <a class="edit_220372"href="/books/220372/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_220372" rel="nofollow"
        data-method="delete"href="/books/220372">Destroy</a>
      </td>
    </tr>
    
        <tr>
      <td>入門Git</td>
      <td>gitについての基本操作から内部構造まで解説してくれます</td>
      <td>
        <a class="show_220373"href="/books/220373">Show</a>
      </td>
      <td>
        <a class="edit_220373"href="/books/220373/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_220373" rel="nofollow"
        data-method="delete"href="/books/220373">Destroy</a>
      </td>
    </tr>
    
        <tr>
      <td>アルゴリズム図鑑</td>
      <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
      <td>
        <a class="show_220374"href="/books/220374">Show</a>
      </td>
      <td>
        <a class="edit_220374"href="/books/220374/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_220374" rel="nofollow"
        data-method="delete"href="/books/220374">Destroy</a>
      </td>
    </tr>
    
        <tr>
      <td>達人プログラマー</td>
      <td>プログラム入門者は必読！</td>
      <td>
        <a class="show_220375"href="/books/220375">Show</a>
      </td>
      <td>
        <a class="edit_220375"href="/books/220375/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_220375" rel="nofollow"
        data-method="delete"href="/books/220375">Destroy</a>
      </td>
    </tr>
    
        <tr>
      <td>データベース実践入門</td>
      <td>効率的なSQL文を教えてくれます</td>
      <td>
        <a class="show_220376"href="/books/220376">Show</a>
      </td>
      <td>
        <a class="edit_220376"href="/books/220376/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_220376" rel="nofollow"
        data-method="delete"href="/books/220376">Destroy</a>
      </td>
    </tr>
    
        <tr>
      <td>qq</td>
      <td>q</td>
      <td>
        <a class="show_220377"href="/books/220377">Show</a>
      </td>
      <td>
        <a class="edit_220377"href="/books/220377/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_220377" rel="nofollow"
        data-method="delete"href="/books/220377">Destroy</a>
      </td>
    </tr>
    
        <tr>
      <td>あ</td>
      <td>あ</td>
      <td>
        <a class="show_220378"href="/books/220378">Show</a>
      </td>
      <td>
        <a class="edit_220378"href="/books/220378/edit">Edit</a>
      </td>
      <td>
        <a data-confirm="Are you sure?" class="destroy_220378" rel="nofollow"
        data-method="delete"href="/books/220378">Destroy</a>
      </td>
    </tr>
    
  </tbody>
</table>

<h2>New book</h2>

<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✔️︎">
  <input type="hidden" name="authenticity_token" value="">
  
  <div class="field">
    <label for="book_title">Title</label>
    <input class="book_title" type="text" name="book[title]" id="book_title">
  </div>
  
  <div class="field">
    <label for="book_body">Body</label>
    <textarea class="book_body" name="book[body]" id="book_body"></textarea>
  </div>
  
  <div class="actions">
    <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
  </div>
  
</form>
</body>


<!--<div class="book-wrap">-->
<!--<%# @books.each do |book| %>-->

<!--<h1>New book</h1>-->
<!--<%# if @book.errors.any? %>-->
<!--  <%#= @book.errors.count %>件のエラーが発生しました-->
<!--  <ul>-->
<!--    <%# @book.errors.full_messages.each do |message| %>-->
<!--      <li><%#= message %></li>-->
<!--    <%# end %>-->
<!--  </ul>-->
<!--<%# end %>-->

<!--<%#= form_with model: @book, url: '/books', method: :post do |f| %>-->

<!--  <h4>Title</h4>-->
<!--  <%#= f.text_field :title %>-->
  
<!--  <h4>Body</h4>-->
<!--  <%#= f.text_area :body %>-->
  
<!--  <%#= f.submit 'Create Book' %>-->
<!--<%# end %>-->

  
<!--    <div class="book-comment">-->
<!--      <span class="book-body"><%#= book.body %></span>-->
<!--      <span class="book-title"><%#= link_to book.title, book_path(book.id) %></span>-->
<!--    </div>-->
<!--  </div>-->
<!--<%# end %>-->

